.add__content {
  background-color: #fff;
  border-radius: 10px;
  padding: 36px;
  max-width: 430px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .add__content {
    margin: 0 19px;
    padding: 25px 22px;
    max-width: 282px;
  }
}
