.popup__submit {
  width: 100%;
  height: 50px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin-top: 48px;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
.popup__submit:hover {
  opacity: 0.8;
}
