.profile__info {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-areas:
    "title button"
    "subtext subtext";
  padding-left: 30px;
}
@media screen and (max-width: 544px) {
  .profile__info {
    padding-left: 0;
  }
}
